.characters {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.characters .item{
  margin: 10px;
  border: 1px solid #FFFF;
  padding: 10px;
  width: 330px;
  height: 400px;
  overflow: hidden;
  text-align: center;
}
.characters .item span{
  color: #00bc8c;
  font-size: 18px;
}
.characters .item img{
  width: 100%;
}